body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.controls-container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  background: #303030;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  color: white;
}

.control {
  width: 12rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
}

.control-slider label::after,
.control-color label::after {
  content: "(" attr(data-value) ")";
  float: right;
}

.control-slider input,
.control-color input {
  width: 100%;
}

/* .form-slider-update {
  position: absolute;
  bottom: 2rem;
  left: 0rem;
}

.form-slider-amplitude {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.form-slider-thickness {
  position: absolute;
  bottom: 2rem;
  left: 12rem;
}

.form-slider-speed {
  position: absolute;
  bottom: 2rem;
  left: 22rem;
} */

